* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

:root {
  --fluid-48-128: clamp(3rem, 1.3333rem + 8.3333vw, 8rem);
}

html, body {
  height: theme("height.full");
}

body {
  color: theme("colors.slate.800");
  font-family: "Inter Tight", sans-serif;
  font-size: 1rem;
  background-image: url("/image/candlePillow.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}